@font-face {
  font-family: font1;
  src: url(font/SFFlorencesans.ttf);
}
:root {
  --jumbotron-padding-y: 3rem;
}

p {
  font-size: 18px;
}

.larger-text {
  color: #fff; /* Původní barva textu (bílá) */
  transition: color 0.5s; /* Plynulý přechod barvy textu */
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.custom-height {
  width: 100%;
  height: 45vh; /* 15% výšky obrazovky */
  object-fit: cover; /* zachová pomery strán obrázku */
}
.square-image {
  overflow: hidden;
  position: relative;
}

.square-image img {
  transition: transform 0.3s ease-in-out;
}

.square-image:hover img {
  transform: scale(1.1); /* Priblíži fotku o 10% */
}
/*Navbar*/
.navbar {
  background-color: #007bff;
}

/* Nav */
.navbar-nav .nav-item .nav-link {
  transition: transform 0.3s, filter 0.3s;
}

/*Fotogaléria*/
.thumbnail {
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  transition: transform 0.5s;
}

.thumbnail:hover img {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

/*Register*/
.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Nastaví výšku na celou výšku okna */
  max-width: 500px; /* Omezí maximální šířku formuláře */
  margin: 0 auto; /* Uprostřed vodorovně */
  padding: 15px;
}

/*50% rozmer obrázka*/
.max-50 {
  max-width: 70%;
  max-height: 70%;
  justify-content: center;
  align-items: center;
}

.container.content-box {
  width: 100%;
  max-width: 500px; /* Nastavte maximálnu šírku podľa vašich preferencií */
  margin: 0 auto; /* Horizontálne zarovnanie */
  padding: 20px; /* Môžete nastaviť vnútorný odstup podľa vašich preferencií */
  border: 1px solid #ccc; /* Okolo obdĺžnika */
  border-radius: 10px; /* Zaoblené rohy */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tieň */
}

.checkbox-label {
  margin-left: 10px; /* Prispůsobte vzdálenost podle potřeby */
}

.register-link {
  margin-left: 10px; /* Prispůsobte vzdálenost podle potřeby */
}

nav .navbar-nav {
  font-weight: 500;
  font-size: larger;
}
